*{
 padding: 0;
 margin:0;
 box-sizing: border-box;
}
body{
    background-color: #1f1f1f;
}


/* estilos header */

.navclass{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(41, 41, 41);
    
}


/* lista */

.navclass ul{
    display:flex;
    list-style: none;
    padding:30px;
    z-index: 1;
}
.navclass ul li{
    margin-left: 60px;
    font-size: 20px;
}

.navclass ul li a{
    color: #fff;
    font-size: 18px;
    text-decoration: none;
    font-family: 'Bebas Neue';
    letter-spacing: 2px;
}

.navclass ul li a:hover{
    color: rgba(255, 230, 0, 0.884);
    transition: .3s;
}


/* logo nav-menu */

.logo-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
    padding-left: 20px ;
    padding-bottom: 10px;
    font-family: 'Bebas Neue';
    z-index: 1;
}
.text-logo{
    font-size: 70px;
    color: #fff;
    margin-bottom: -20px;
    letter-spacing: 7px;
    margin-left: 8px;
    cursor: pointer;
}

.logo-div p{
    color: rgb(51, 51, 51);
    padding-left: 15px;
    letter-spacing: 13px;
    font-size: 14px;
    background-color: rgba(255, 230, 0, 0.884);
    font-family: 'Bebas Neue';
    text-align: justify;
}


/*  inicio de pagina */

.div-inicio{
    width: 100%;
    height: 100vh;
    background-image: url(../img/blog_e2d0e80e35.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;    
}
.div-inicio h2{
    color: #fff;
    font-family: 'Bebas Neue';
    font-size: 60px;
    padding-top: 250px;
    text-align: center;
}
.div-inicio p{
    color: #fff;
    font-size: 30px;
    text-align: center;
    font-family: 'Arial';
}

/* seccion acerca de nostros */

.about{
    background-color: #1f1f1f;
    width: 100%;
    height: 100vh;
}
.about h2{
    color: #fff;
    font-size: 50px;
    font-family: 'Bebas Neue';
    margin: 50px;
    text-align: center;
}

.about p{
    color: #fff;
    text-align: center;
    font-family: 'Arial';
    width: 700px;
    font-size: 30px;
    margin: 20px;
}

.about-sub{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
}

.absb{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.absb h3{
        font-size: 70px;
        color: #fff;
        margin-bottom: -5px;
        letter-spacing: 7px;
        margin-left: 8px;
        cursor: pointer;
        margin-left: 67px;
}

.absb h4{
        color: rgb(0, 0, 0);
        padding-left: 15px;
        letter-spacing: 13px;
        font-size: 47px;
        background-color: rgb(255, 230, 0);
        font-family: 'Bebas Neue';
        text-align: justify;    
        margin-bottom: 60px;
        margin-left: 60px;
}
.Servicios{
    border-radius: 10px;
    background-color: #1f1f1f;
    width: 100%;
    height: 100vh;
}
.Servicios h2{
    color: #fff;
    font-size: 50px;
    font-family: 'Bebas Neue';
    text-align: center;
    margin-top: 10px;
}
.box{
    width: 100%;
    height: 85vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.card{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(43, 43, 43);
    border-radius: 20px;
    width: 300px;
    height: 300px;
    margin: 20px;
}

.card p{
    font-size: 30px;
    text-align: center;
    color:#fff; 
    font-family: 'Arial';
}
.card .material-symbols-outlined{
    font-size: 50px;
    color:rgba(255, 230, 0, 0.884);
    margin: 20px;

}
.card:hover{
    transition: .3s;
    transform: scale(1.03);
    cursor: pointer;
}

/* contacto  */
.contact{
    width: 100;
    height: 100vh;
    display: flex;
    flex-direction:column;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.contact-sub{
    border: 2px solid rgba(255, 230, 0, 0.884);
    width: 500px;
    height: 85vh;
    background-color: #303030;
    border-radius: 20px;
    
}
.contact-sub input{
    color: rgb(218, 218, 218);
    border-radius: 10px;
    background-color: #303030;
    border: 2px solid rgba(255, 230, 0, 0.884);
    margin: 10px;
    padding: 5px;
}
::placeholder{
    font-size: 1rem;
    font-family: 'Bebas Neue';
    color: rgb(161, 161, 161);
}
#msg{
    margin-top: 5px;
    
   
}
#msg ::placeholder{
    padding: 2px;
 
    
}
.ola{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#msg textarea{
    text-align: center;
    font-family: 'Bebas Neue';
    background-color: #303030;
    border: 2px solid rgba(255, 230, 0, 0.884);
    color: rgb(221, 218, 218);
    border-radius: 10px;
    width: 50vh;
    font-size:15px ;
    height: 120px;
}
 .contact-sub h2{
    color: #fff;
    font-size: 50px;
    font-family: 'Bebas Neue';
    margin: 15px;
 }

 .contact-sub input{
    text-align: center;
    font-family: 'Bebas Neue';
    font-size: 15px;
    width: 250px;
 }
.contact p{
    color: #fff;
    font-size: 15px;
    font-family: Arial;
    margin: 5px;
    text-align: center;
}
.contact span{
    color: rgb(255, 230, 0);
    opacity: 50%;
}
 .btn-env{
    border-radius: 10px;
    padding: 10px 100px 10px 100px;
    margin: 10px;
    font-size: 20px;
    color: white;
    font-family: 'Bebas Neue';
    background-color: black;
    border:rgba(255, 230, 0, 0.884) solid 3px;
    cursor: pointer;
 }

 .btn-env:hover{
    background-color: rgba(255, 230, 0, 0.884);
    color:#161616;
    transition: .3s;
    transform: scale(1.05);
 }

 footer{ 
    width: 100%;
    height: 50vh;
    text-align: center;
    font-size: 25px;
    color: white;
    
 }

